body {
    background: linear-gradient(to right, #2A3A51, #1A202C);
    font-family: 'Arial', sans-serif;
    color: #F1F1F2;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Эффект размытия фона */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

input[type="text"] {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    transition: transform 0.2s ease;
}

input[type="text"]:focus {
    transform: scale(1.05);
    outline: none;
    border-color: #007BFF;
}

button {
    border-radius: 5px;
    padding: 10px 15px;
    background: linear-gradient(90deg, #007BFF, #00C6FF);
    color: #ffffff;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    animation: fadeIn 1s;
}
